<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../PCF.xsd">

  <Page id="SBIncidentScreen"
        title="DisplayKey.get(&quot;Web.SBPortal.IncidentScreen.Title&quot;)">
    <LocationEntryPoint signature="SBIncidentScreen(sbClaim : entity.SBClaim_Ext)"/>
    <Variable name="sbClaim" type="entity.SBClaim_Ext"/>

    <Screen id="SBIncidentInnerScreen">
      <PanelRef def="SBIncidentDV(sbClaim)"/>

      <ListViewPanel id="SBDocumentsLV">
        <RowIterator editable="false" elementName="sbDoc"
                     value="gw.api.database.Query.make(entity.SBUnattachedDocument_Ext).compare(&quot;ExternalClaimID_Ext&quot;, Equals, sbClaim.ExternalClaimID_Ext).select().toTypedArray()"
                     valueType="entity.SBUnattachedDocument_Ext[]">
          <Row>
            <TextCell id="DocName" label="&quot;Document Name&quot;" value="sbDoc.AttachmentID_Ext"/>
            <TextCell id="DocDescription" label="&quot;Description&quot;" value="sbDoc.Description_Ext"/>
            <TextCell id="DocAuthor" label="&quot;Author&quot;" value="sbDoc.Author_Ext"/>
          </Row>
        </RowIterator>
      </ListViewPanel>

    </Screen>
  </Page>
</PCF>
