<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../PCF.xsd">

  <Screen id="SBIncidentScreen">
    <Toolbar>
      <ToolbarButton id="EditButton" label="Edit" action="CurrentLocation.beginEditing()"/>
      <ToolbarButton id="UpdateButton" label="Update" action="CurrentLocation.commit()"/>
    </Toolbar>

    <TabbedPanel id="SBIncidentTabbedPanel">

      <!-- Liability Tab -->
      <Tab id="LiabilityTab" label="Liability">
        <PanelRef def="SBLiabilityDV"/>
      </Tab>

      <!-- Documents Tab -->
      <Tab id="DocumentsTab" label="Documents">
        <ListViewPanel id="SBDocumentsLV">
          <RowIterator editable="false" elementName="sbDoc"
                       value="CurrentLocation.SBClaim.Documents">
            <Row>
              <Cell id="DocName"        label="Document Name"
                    value="sbDoc.Name" action="openInNewWindow(sbDoc.URL)"/>
              <Cell id="DocDescription" label="Description"    value="sbDoc.Description_Ext"/>
              <Cell id="DocDate"        label="Date"           value="sbDoc.AttachDate_Ext"/>
              <Cell id="DocCategory"    label="Category"       value="sbDoc.Category_Ext"/>
              <Cell id="DocAuthor"      label="Author"         value="sbDoc.Author_Ext"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </Tab>

      <!-- History Tab -->
      <Tab id="HistoryTab" label="History">
        <ListViewPanel id="SBHistoryLV">
          <RowIterator editable="false" elementName="histEntry"
                       value="CurrentLocation.SBClaim.HistoryEntries">
            <Row>
              <Cell id="HistUser"        label="User"        value="histEntry.User"/>
              <Cell id="HistTimestamp"   label="Time"        value="histEntry.EventTime_Ext"/>
              <Cell id="HistDescription" label="Description" value="histEntry.Description_Ext"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </Tab>

    </TabbedPanel>
  </Screen>
</PCF>
