<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../PCF.xsd">

  <LocationGroup
    id="SBPortalLocationGroup"
    title="DisplayKey.get(&quot;Web.SBPortal.Title&quot;)">
    <LocationRef
      label="DisplayKey.get(&quot;Web.SBPortal.SummaryDashboard.Title&quot;)"
      location="SBSummaryDashboardScreen()"/>
    <LocationRef
      label="DisplayKey.get(&quot;Web.SBPortal.IncidentScreen.Title&quot;)"
      location="SBIncidentScreen(null)"/>
  </LocationGroup>
</PCF>
